@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
* {
    font-family: yekanbakh;
    font-weight: 500;
    box-sizing: border-box;
}
body {
    max-width: 1280px;
    min-height: 100lvh;
    margin: auto;
    color: #333;    
}